---
import "@/styles/global.css"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Consolink</title>
  </head>
  <body class="flex min-h-dvh items-center justify-center bg-muted p-4">
    <slot />
  </body>
</html>
